<h1>My Spaceships</h1>
<ul>
	<% @spaceships.each do |spaceship| %>
	<li><%= link_to spaceship.name, spaceship_path(spaceship) %> |
		<%= link_to "Edit Spaceship", edit_spaceship_path(spaceship) %> |
	<%= link_to spaceship_path(spaceship), method: :delete do %>
		<i class="fa fa-trash-o" aria-hidden="true"></i>
	</li>
		<% end %>
	<% end %>
</ul>

<ul>
	<% @bookings.each do |booking| %>
	<li><%= link_to booking.start_date, booking_path(booking) %></li>
	<% end %>
</ul>


<%= link_to "Create new Spaceship", new_spaceship_path, class: "btn btn-primary" %>