<!-- <div class="container">
  <div class="card">
    <h1>Spaceships for rent</h1>
    <ul>
     <% @spaceships.each do |spaceship| %>
     <li><%= link_to spaceship.name, spaceship_path(spaceship) %></li>
     <%= cl_image_tag spaceship.photos.first.path, width: 150, height: 100, crop: :thumb, gravity: :center %>
     <% end %>
   </ul>
 </div>
</div>
-->
<div class="container">
<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-6">
      <% @spaceships.each do |spaceship| %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=  cl_image_path spaceship.photos.first.path %>');">
        <div class="card-description">
          <h2><%= spaceship.name %></h2>
          <p><%= spaceship.description %></p>
        </div>

        <%= cl_image_tag spaceship.user.photo.path, class: "card-user avatar" %>
        <%= link_to "", spaceship_path(spaceship), class: "card-link" %>
      </div>
      <% end %>
      <!-- insert <div class="card"> -->
    </div>




    <div class="col-xs-12 col-sm-4 col-md-6">
      <div id="map" style="width: 100%; height: 450px;"></div>
    </div>
      <!-- insert <div class="card"> -->
</div>


<% content_for(:after_js) do %>
<script>
  var handler = Gmaps.build('Google');
  handler.buildMap({ internal: { id: 'map' } }, function() {
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    if (markers.length == 0) {
      handler.getMap().setZoom(2);
    } else if (markers.length == 1) {
      handler.getMap().setZoom(14);
    }
  });
</script>
<% end %>