<h1>Spaceships#new</h1>
<p>Find me in app/views/spaceships/new.html.erb</p>

<%= simple_form_for [@spaceship] do |f| %>
<%= f.input :name %>
<%= f.input :address %>
<%= f.input :price %>
<%= f.input :description %>
<%= f.input :speed %>
<%= f.input :weaponry %>
<%= f.button :submit %>
<% end %>