<div class="container">
  <h1><%= @spaceship.name %></h1>

  <div class="row">
    <div class="col-sm-4">
      <p>Address:</p>
      <p><%= @spaceship.address %></p>
      <p>Price: <%= @spaceship.price %> $</p>
      <p>Description: <%= @spaceship.description %></p>
      <p>Speed: <%= @spaceship.speed %></p>
      <p>weaponry: <%= @spaceship.weaponry %></p>
      <p>Owner: <%= @spaceship.user.first_name %> <%= @spaceship.user.last_name %></p>
      <div>

        <% if (@user == @spaceship.user) %>
        <%= link_to "Edit Spaceship", edit_spaceship_path(@spaceship) %> |
        <% end %>
        <%= link_to "See my Spaceships", dashboard_path(@spaceship), class: "btn btn-primary" %>
      </div>
      
    </div>
    <div class="col-sm-4">
      <% @spaceship.photos.each do |photo| %>
      <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
      <% end %>
    </div>
  </div>


</div>
