<div class="container outer-container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10">
      <div class="info-box-top">
        <h2>
          <%= @spaceship.name %>

        </h2>
      </div>
      <div>
        <%= cl_image_tag(@spaceship.photos.second.path,
        width: 1500, crop: :mfit, class: "img-responsive") %>
        <!-- <div class="caption img-content">
          <h1><%= @spaceship.name %></h1>
        </div> -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-sm-offset-1">

      <div class="info-box">
        <div class="row">
          <div class="col-xs-6">
            <h4><i class="fa fa-user" aria-hidden="true"></i>
              Owner</h4>
              <p><%= @spaceship.user.first_name %> <%= @spaceship.user.last_name %></p>
            </div>
            <div class="col-xs-6 text-center">
              <%= cl_image_tag @spaceship.user.photo.path, class: "avatar-large avatar-bordered text-right" %>
            </div>
          </div>

        </div>
        <div class="info-box">

          <h4>
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            Info
          </h4>
          <p>
            <strong>
              Address:</strong>
              <%= @spaceship.address %></p>
              <p>
                <strong>
                  Weaponry: </strong>
                  <%= @spaceship.weaponry %>
                </p>
                <p>
                  <strong>Speed:</strong>
                  <%= @spaceship.speed %> km/h
                </p>
              </div>
              <div class="info-box">

                <h4>
                  <i class="fa fa-align-left" aria-hidden="true"></i> Description</h4>
                  <p><%= @spaceship.description %></p>
                </div>


                <div class="info-box">
                  
                  <h4><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>Address: <%= @spaceship.address %></h4>
                  <%= cl_image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=400x300&sensor=false&key=#{ENV['GOOGLE_API_BROWSER_KEY']}&maptype=roadmap&markers=color:red|#{@spaceship.address}" %>
                </div>
              </div>


              <div class="col-xs-12 col-sm-5">
                <div class="info-box">
                  <h4><strong>Price:</strong> $<%= @spaceship.price %> day</h4>
                </div>

                <div class="info-box">
                  <h4><i class="fa fa-calendar" aria-hidden="true"></i> Booking</h4>
                  <%= simple_form_for [@spaceship, @booking] do |f| %>
                  <%= f.input :start_date , class: "" %>
                  <%= f.input :end_date, class: "" %>
                  <%= f.submit "Request booking", class: "btn btn-info btn-block" %>
                  <% end %>
                </div>


                <div class="info-box">
                  <h4>All photos</h4>
                  <% @spaceship.photos.each do |photo| %>
                  <%= cl_image_tag photo.path, width: 500, crop: :fill, class: "img-responsive" %>
                  <% end %>
                </div>


                
              </div>
            </div>

            
            
          </div>
