<div class="container">
  <h1><%= @spaceship.name %></h1>

  <div class="row">
    <div class="col-xs-4 col-xs-offset-2">
      <h4>Info</h4>
      <p><strong>Address:</strong> <%= @spaceship.address %></p>
      <p><strong>Description:</strong></p>
      <p><strong>Speed:</strong> <%= @spaceship.speed %></p>
      <p><strong>Weaponry: </strong><%= @spaceship.weaponry %></p>
      <h4>Description</h4>
      <p><%= @spaceship.description %></p>
      <p><strong>Price:</strong> <%= @spaceship.price %> $</p>

      <div>
      <h4>Owner:</h4> 
      <%= @spaceship.user.first_name %> <%= @spaceship.user.last_name %></p>

        <% if (@user == @spaceship.user) %>
        <%= link_to "Edit Spaceship", edit_spaceship_path(@spaceship) %> |
        <% end %>
       <!-- <%= link_to "See my Spaceships", dashboard_path(@spaceship), class: "btn btn-primary" %>
      </div> -->
      
    </div>
    <div class="col-sm-4">
      <% @spaceship.photos.each do |photo| %>
      <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
      <% end %>
    </div>
  </div>


</div>
